body{
  font-family: Arial, Helvetica, sans-serif;
}
.calculadora {
  display: grid;
  grid-template-columns: repeat(4, 70px);
  gap: 10px;
  justify-content: center;
}

#textoDaCalculadora {
  background: #111;
  color: #eee;
  font-family: monospace;
  padding: 10px;
  grid-column: span 4;
}

.c {
  grid-column: span 3;
  background: #ff5c5c;
  color: white;
  font-weight: bold;
  font-style: i;
}

button {
  height: 60px;
  font-size: 20px;
  border-radius: 8px;
}

.operador {
  background: #eee;
}

.igual {
  background: orange;
  grid-column: span 2;
}

button {
  transition: 
    transform 0.1s ease,
    box-shadow 0.1s ease,
    background-color 0.1s ease;
  box-shadow: 0 4px 0 #999;
}

button:active {
  transform: translateY(4px);
  box-shadow: 0 0 0 #999;
}

.operador {
  box-shadow: 0 4px 0 #bbb;
}

.operador:active {
  transform: translateY(4px);
  box-shadow: 0 0 0 #bbb;
}

.igual {
  box-shadow: 0 4px 0 #c97c00;
}

.igual:active {
  transform: translateY(4px);
  box-shadow: 0 0 0 #c97c00;
}

div {
  border-left: solid;
  border-right: solid;
  border-top: solid;
}

#modoEscuro {
  margin: 15px auto;
  display: block;
  font-size: 18px;
  border-radius: 18px;
  padding: 8px 15px;
  cursor: pointer;
}

/* ===== MODO ESCURO ===== */
body.dark {
  background: #121212;
  color: #121212;
}

body.dark .calculadora {
  background: #1e1e1e;
}

body.dark button {
  background: #2a2a2a;
  color: white;
  border: 1px solid #444;
}

body.dark .operador {
  background: #3a3a3a;
}

body.dark .igual {
  background: #ff9800;
}

body.dark .c {
  background: #e53935;
}

body.dark #textoDaCalculadora {
  background: #000;
  color: #eee;
}
